.vs/ChessMaster/v16/TestStore/0/000.testlog
.vs/ChessMaster/v16/TestStore/0/testlog.manifest
.vs/ChessMaster/v17/.suo
.vs/ChessMaster/v17/TestStore/0/000.testlog
.vs/ChessMaster/v17/TestStore/0/testlog.manifest
ChessMaster/bin/Debug/ChessMaster.exe
ChessMaster/bin/Debug/ChessMaster.exe.config
ChessMaster/bin/Debug/ChessMaster.pdb
ChessMaster/obj/Debug/App.g.cs
ChessMaster/obj/
.vs/ChessMaster/v16/.suo
